<mat-nav-list>
  <a
    mat-list-item
    [routerLinkActive]="['active']"
    [routerLink]="['/dashboard']">
    <mat-icon
      matListIcon
      fontSet="material-icons-outlined">
      speed
    </mat-icon>
    Dashboard
  </a>
  <a
    mat-list-item
    [routerLinkActive]="['active']"
    [routerLink]="['/inventory']">
    <mat-icon
      matListIcon
      fontSet="material-icons-outlined">
      medical_services
    </mat-icon>
    Inventory
  </a>
  <a
    mat-list-item
    [routerLinkActive]="['active']"
    [routerLink]="['/schedule']">
    <mat-icon
      matListIcon
      fontSet="material-icons-outlined">
      event_upcoming
    </mat-icon>
    Schedules
  </a>
  <a
    mat-list-item
    [routerLinkActive]="['active']"
    [routerLink]="['/prescription']">
    <mat-icon
      matListIcon
      fontSet="material-icons-outlined">
      receipt_long
    </mat-icon>
    Prescriptions
  </a>
  <a
    mat-list-item
    [routerLinkActive]="['active']"
    [routerLink]="['/authentication/profile']">
    <mat-icon
      matListIcon
      fontSet="material-icons-outlined">
      person
    </mat-icon>
    Profile
  </a>
  <button
    mat-list-item
    (click)="logout()">
    <mat-icon
      matListIcon
      fontSet="material-icons-outlined">
      logout
    </mat-icon>
    Logout
  </button>
</mat-nav-list>