<form [formGroup]="form" (submit)="submit()">
  <section class="fields">
    <mat-form-field appearance="fill">
      <mat-label>Current password</mat-label>
      <input
        matInput
        required
        type="password"
        placeholder="Password"
        formControlName="oldPassword" />
      <mat-hint>Enter your current password</mat-hint>
      <mat-error *ngIf="form.get('oldPassword')?.errors?.['required']">
        Please enter your current password
      </mat-error>
    </mat-form-field>
    <ng-container formGroupName="newPasswords">
      <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input
          matInput
          required
          type="password"
          placeholder="Password"
          formControlName="password" />
        <mat-hint>Please choose a strong password</mat-hint>
        <mat-error *ngIf="form.get('newPasswords')?.get('password')?.errors?.['required']">
          Please enter a new password
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Repeat password</mat-label>
        <input
          matInput
          required
          type="password"
          placeholder="Password"
          formControlName="repeatPassword" />
        <mat-hint>Repeat the same password again</mat-hint>
        <mat-error *ngIf="form.get('newPasswords')?.get('repeatPassword')?.errors?.['required']">
          Please repeat the new password
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="form.get('newPasswords')?.errors?.['samePassword']">
        The passwords do not match
      </mat-error>
    </ng-container>
  </section>
  <button
    color="primary"
    mat-raised-button>
    UPDATE
  </button>
</form>