mat-sidenav {
  width: 16em;
  padding: 1.5em;
}

mat-sidenav-container {
  min-height: 100vh;
}

mat-sidenav-content {
  padding: 1.5em;
}

h1 {
  display: flex;
  align-items: center;
}

mediminder-http-progressbar {
  position: fixed;
  z-index: 2;
  width: 100%;
}