HELP.md

### Build tools ###
target/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
dist/
tmp/
out-tsc/
bazel-out/
node_modules/
node/
npm-debug.log
yarn-error.log
.angular/cache/
.sass-cache/
connect.lock
coverage
libpeerconnection.log
testem.log
typings

### IDE's ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea/
*.iws
*.iml
*.ipr
nbproject/private/
nbbuild/
nbdist/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.c9/
*.launch
.settings/
*.sublime-workspace

### System files ###
.DS_Store
Thumbs.db

### Project ###
/db-data/
http-client.private.env.json
