p.message {
  border-radius: .3em;
  padding: 0.7em 0.5em;
}

p.error.message {
  border: solid 1px #8E1717;
  color: #8E1717;
  background-color: #EFDDDD;
}

p.success.message {
  border: solid 1px #265e0e;
  color: #265e0e;
  background-color: #f3f6f2;
}